# Class 6 : trainer (smiritica shadukhan) Student (MD.Redoy Sarder)

In [1]:
def square(n):
    print(n**2)

square(3)

9

In [2]:
def square1(n):
    return n**2

square(3)

9

In [3]:
a = square(4)

16

In [4]:
b = square1(5)

In [5]:
b

25

# 1.1.1 capitalize()

In [6]:
txt = "hello world !"

x = txt.capitalize()

print(x)

Hello world !

# 1.1.2 casefold()

In [7]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

# 1.1.3 center()

In [8]:
txt = "Hello"

x = txt.center(20)

print(x)

       Hello

# 1.1.4 count()

In [9]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

# 1.1.5 encode()

In [10]:
txt1 = "My name is Redoy."
txt2 = "My name is Redoy !"

x1 = txt1.endswith(".")
x2 = txt2.endswith(".")

print('x1 : ', x1)
print('x2 : ', x2)

x1 :  True
x2 :  False

# 1.1.6 expandtabs()

In [11]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(4)

print(x)

H   e   l   l   o

# 1.1.7 find()

In [12]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

# 1.1.8 format()

In [13]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

# 1.1.9 index()

In [14]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

# 1.2.0 isalpha()

In [15]:
txt1 = "Company"
txt2 = "Company5"

x1 = txt1.isalpha()
x2 = txt2.isalpha()

print('txt1 :',x1)
print('txt2 :',x2)

txt1 : True
txt2 : False

# 1.2.1 isalnum()

In [16]:
txt1 = "Redoy12"
txt2 = "Redoy12$"

x1 = txt1.isalnum()
x2 = txt2.isalnum()

print('txt1 : ',x1)
print('txt2 : ',x2)

txt1 :  True
txt2 :  False

# 1.2.2 isascii()

In [17]:
txt = "Company123 ?"

x = txt.isascii()

print(x)

True

# 1.2.3 isdecimal()

In [25]:
txt1 = "1234"
txt2 = "1234 A"

x1 = txt1.isdecimal()
x2 = txt2.isdecimal()

print('txt1 :',x1)
print('txt2 :',x2)

txt1 : True
txt2 : False

# 1.2.4 isdigit()

In [26]:
txt1 = "50800"
txt2 = "50 800"

x1 = txt1.isdigit()
x2 = txt2.isdigit()

print(x1)
print(x2)

True
False

# 1.2.5 isidentifier()

In [28]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

# 1.2.6 islower()

In [30]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

# 1.2.7 isnumeric()

In [34]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"
f = "1"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())
print(f.isnumeric())

True
True
False
False
False
True

# 1.2.8 isprintable()

In [35]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

# 1.2.9 isspace()

In [41]:
txt1 = " "
txt2 = " A "
txt3 = ""

x1 = txt1.isspace()
x2 = txt2.isspace()
x3 = txt3.isspace()

print(x1)
print(x2)
print(x3)

True
False
False

# 1.3.0 istitle()

In [1]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [5]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"
e = "Hello world !"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())
print(e.istitle())

False
True
True
True
False

# 1.3.1 isupper()

In [6]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [7]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

# 1.3.2 join()

In [9]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [15]:
txt1 = "Hello World !"
txt2 = ("Hello", "World", "!")
txt3 = {"Hello", "World", "!"}
txt4 = ["Hello", "World", "!"]

x1 = "@".join(txt1)
x2 = "@".join(txt2)
x3 = "@".join(txt3)
x4 = "@".join(txt4)

print(x1)
print(x2)
print(x3)
print(x4)

H@e@l@l@o@ @W@o@r@l@d@ @!
Hello@World@!
Hello@!@World
Hello@World@!

In [16]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

# 1.3.3 ljust()

In [18]:
txt = "banana"

x = txt.ljust(30)

print(x, "is my favorite fruit.")

banana                         is my favorite fruit.

# 1.3.4 lower()

In [19]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

# 1.3.5 lstrip()

In [22]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [23]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

# 1.3.6 maketrans()

In [24]:
txt = "Hello Sam!"

mytable = str.maketrans("S", "P")

print(txt.translate(mytable))

Hello Pam!

In [25]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(str.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

# 1.3.7 partition()

In [26]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

# 1.3.8 replace()

In [28]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [32]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

# 1.3.9 rindex()

In [33]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

# 1.4.0 rjust()

In [35]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

# 1.4.1 rpartition()

In [37]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

# 1.4.2 rsplit()

In [44]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

# 1.4.3 rstrip()

In [45]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

# 1.4.4 split()

In [46]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [53]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

# 1.4.5 splitlines()

In [54]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

# 1.4.6 startswith()

In [56]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

# 1.4.7 strip()

In [57]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

# 1.4.8 swapcase()

In [58]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

# 1.4.9 title()

In [60]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

# 1.5.0 translate()

In [71]:
mydict = {83:  75}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Kam!

# 1.5.1 upper()

In [72]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

# 1.5.2 zfill()

In [74]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050